
body {
    text-transform: none;
    background: rgba(10, 10, 10, 0.934);
    margin: 25px;
    border: 3px double rgb(255, 255, 255);
    padding: 3px;
    text-align: justify;
    font-size: 1.15em;
    color: rgba(206, 199, 199, 0.778);
}


p {
    text-indent: 2em;
}

.meme {
    color:white;
    background-color: grey;
    display:inline-block;
    vertical-align: 150px;

}

/*
.main-para {

}
*/

.second-para {
    display: inline;
}

.link {
    text-decoration: none;
    color:red;
   
}

.site-header {
    color: red;
    background-color: rgb(28, 30, 29);
    text-align: center;
}

#meme {
    height: 250px;
    width: auto;
    border: 3px double rgba(255, 255, 255, 0);
    margin-left: 20px;
    padding: 4px;
    
    display:show; /*makes things disapear*/

}

#banner {
    align-items: center;
    width: 250px;
    display:none;
}