body {
    text-transform: capitalize;
    background: rgb(246, 246, 246);
    margin: 25px;
    border: 3px double rgb(177, 170, 169);
    padding: 3px;
    text-align: justify;
    font-size: 1.15em;
}

.main-para {
   display:inline;
}
.second-para {
    display:inline;
}

.link {
    text-decoration: none;
    
}

.site-header {
    color: red;
    background-color: aquamarine;
}

#meme {
    height: 250px;
    width: auto;
    border: 3px double rgba(255, 255, 255, 0);
    margin-left: 20px;
    padding: 4px;
  /*  float: right; */
    display:show; /*makes things disapear*/

}